{% extends 'home/base.html' %}
{% block head %}
<meta property="og:image" content="https://janmanasnews.com{{post.image.url}}">
<meta property="og:title" content="{{post.heading}}s" /> 
<meta property="og:description" content="{{post.description | safe | slice:':50'}}" />  <!-- your  Description -->
{% endblock head %}
{% block content %}
{% load static %}
{% include 'include/navbar.html' %} 
{% load home_tag %}
<div id="result">
<style>
.main_box{
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
    text-align: start;
}

.description{
    overflow: hidden;
    width: 95%;
    padding-left: 0px;
    padding: 10px;
}
.footer{
    width: 100%;
    padding: 10px;
    background-color: rgb(217, 240, 254);
    margin-top: auto;
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    div{
        text-align: center;
    }
}

@media only screen and (max-width: 500px){
        .main_post{
            width: 95%;
        }
    .description{
    width: 95%;
    }
    .new_post{
        display: none;
    }
}
.whatsapp{
    color: green;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    i{
        font-weight: 700;
    }
}
.user{
    margin-left: 20px;
    margin-top: 10px;
}
.image{
    width: 100%;
    img{
        height: 150px;
        margin: 0 auto;
    }
}
</style>


<br>
<div class="main_box">
    <div class="main_post">
        <div class="text-center heading"><b>{{post.heading}}</b></div>
        <div class="text-center image"><img src="{{post.image.url}}" alt=""></div>
        <div class="user"><i class="fa-solid fa-user"></i> - संजय साखरे</div>
       <div class="description"> {{post.description | safe}}</div>
    </div>
    <div class="footer">
        <div class="like_box" id="like_box{{post.id}}" onclick="user_like_post('{{post.id}}','{{ip}}')">{% user_like post.id ip %}</div>
        <div class="date"><i class="fa-regular fa-eye"></i>&nbsp;{{views}}</div>
        <div class="date">{{post.date}}</div>
        <div class="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=&text=*{{post.heading}}* %0a https://janmanasnews.com{{request.path}}" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
         </div>
    </div>
</div>
<!------------------------------------------------------------------------------->
<style>
.read{
    color: red;
    margin-left: 10px;
}
</style>
<div class="read"><p><b>Related Post :</b></p></div>


<style>
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: start;
        gap: 20px;
    }
    .post{
        width: 90%;
        height: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
    }
    .headding{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    .post_img{
        width: 100%;
        height: fit-content;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .date{
        width: 100%;
        text-align: end;
        font-weight: 600;
    }
    .dess{
        width: 100%;
        margin-left: 10px;

    }
    #post_footer{
        width: 100%;
        padding: 10px;
        background-color: rgb(217, 240, 254);
        margin-top: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        div{
            text-align: center;
        }
    }
    a{
        text-decoration: none;
        color: #000;
    }
</style>
<br>
<div class="main">


    {% for p in all_post %}
    <div class="post" {% if p.id == post.id %} style="visibility: hidden;"{% endif %}>
            <a href="/post_detail/{{p.id}}/"  >
                <div class="post_img">{% if p.image %}<img src="{{p.image.url}}" alt=" ">{% endif %}</div>
                <div class="headding">{{p.heading |slice:':50'}}...</div>

            </a>
                <div id="post_footer">
                    <div class="like_box" id="like_box{{p.id}}" onclick="user_like_post('{{p.id}}','{{ip}}')">{% user_like p.id ip %}</div>
                    <div class="date"><i class="fa-regular fa-eye"></i>&nbsp;{% post_views p.id %}+</div>
                    <div class="date">{{p.date}}</div>
                </div>
            </div>
    {% endfor %}

</div>

<!------------------------------------------------------------------------------------------>
<br>

<style>
    .category_main{
        display: flex;
        width: 95%;
        overflow: scroll;
        gap: 10px;
        padding: 5px;
    }
    .category_box{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .name{
        color: black;
        font-weight: 700;
    }

.main_post_box{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 10px;
}
</style>

<div id="result">

<div class="category_main">
    {% for c in category %}
        <a href="/category_detail/{{c.id}}/">
            <div class="category_box">
                <div class="name"><b>{{c.name}}</b></div>
            </div>
        </a>
    {% endfor %}
</div>
<br><br>

<script>
    function user_like_post(id, ip){
        $.ajax({
                url: "{% url 'user_like_post' %}",
                method: "GET",
                data:{
                    id:id,
                    ip:ip
                      },
                    success: function(res){
                        $("#like_box"+id).html(res.t)
                        // like_box
                    }
            })
    }
</script>
</div>
{% endblock content %}
